// Place all the styles related to the Productos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner { text-align: center; }
.carousel .item > img {
  display: inline-block;
  width: 50%;
  line-height: 1;
}